extends layout

block content 
  div(style="margin-top:20px;margin-left:20px")
    h4 List of books

    ul
      each book in data
        li
          a(href='/catalog/book/' + book._id) #{book.title}
          |  (#{book.author.name})
          hr
      else
        li there are no books right now