extends layout 

block content 
	div(style="margin-top:20px;margin-left:20px") 
		h4 Genre List

		ul 
			each genre in data
				li
					a(href=genre.url) #{genre.name}
				hr

			else 
				li No genre found