.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

div.bg {
  /* The image used */
  background-image: url("../images/klipartz.com.png");
}

.vl {
  border-left: 3px solid lightgray;
  height: 97%;
  position: absolute;
  left: 17%;
  margin-left: -3px;
  top: 0;
  margin-top: 10px;
}
.addGenre {
  padding: 0px 3px 1px 2px;
}
.addGenre:hover {
  text-decoration: none;
  border-radius: 0.3rem;
  border: 1.5px solid #28a745;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .vl {
    display: none !important;
  }
}
